.Order {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background: white;
  display: flex;
  border-top: 1px solid rgb(234, 234, 234);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.Order button {
  background: #f44336;
  line-height: 36px;
  font-size: 16px;
  color: white;
  flex: 1;
  border: none;
  border-radius: 3px;
}

.Pizzas.ValidateOrder .pizza-price span:last-child {
  font-size: 16px;
}

.ValidateOrder .set-address,
.ValidateOrderAddress .set-address,
.ValidateOrder .confirm-order,
.ValidateOrder .cancel-order,
.OrderConfirmed .back-home {
  position: relative;
  background: white;
  padding: 8px 16px;
  display: flex;
  border-top: 1px solid rgb(234, 234, 234);
}

.ValidateOrder .set-address {
  border-top: none;
}

.ValidateOrderAddress .set-address {
  padding: 16px;
}

.ValidateOrder .set-address button,
.ValidateOrderAddress .set-address button,
.ValidateOrder .confirm-order button,
.ValidateOrder .cancel-order button,
.OrderConfirmed .back-home button {
  flex: 1;
}

.ValidateOrder .cancel-order button {
  background: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ValidateOrderAddress h2 {
  margin: 0;
  padding: 0 16px;
  font-size: 12px;
  line-height: 36px;
  background: white;
}

.OrderConfirmed {
  background: white;
  text-align: center;
}

.OrderConfirmed p {
  padding: 0 16px;
}

.OrderConfirmed h2,
.OrderConfirmed .thanks {
  margin: 0;
  padding: 16px;
}

.modify-address {
  position: absolute;
  top: 8px;
  right: 16px;
  bottom: 8px;
  width: 48px;
}
