.drawer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.Drawer {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100vw - 60px);
}
