* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  background: #ebebec;
}

.App {
  height: 100vh;
  overflow: auto;
}

p {
  margin: 0;
  word-wrap: break-word;
  letter-spacing: -0.003em;
  line-height: 1.55;
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  text-rendering: optimizeLegibility;
}

.has-order .Pizzas {
  margin-bottom: 56px;
}

.has-order .SelectedPizza {
  margin-bottom: 64px;
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?mtfvce');
  src: url('/fonts/icomoon.eot?mtfvce#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?mtfvce') format('truetype'),
    url('/fonts/icomoon.woff?mtfvce') format('woff'),
    url('/fonts/icomoon.svg?mtfvce#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back:before {
  content: '\e5c4';
}
.icon-mode_edit:before {
  content: '\e254';
}
.icon-menu:before {
  content: '\e5d2';
}

.button {
  background: #f44336;
  line-height: 36px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 3px;
}
